<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>com.servlet.VerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidationCode</servlet-name>
    <servlet-class>com.servlet.ValidationCode</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/servlet/VerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationCode</servlet-name>
    <url-pattern>/servlet/ValidationCode</url-pattern>
  </servlet-mapping>
</web-app>
